
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<style>
    h2 {
        text-align: center;
        font-family: 'Comic Sans MS';
        color: black;
    }
</style>
<h2>Index</h2>

